
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <button type="button" id="btnLoad" class="btn btn-success">Load Data</button>
    </div>
    <div class="col-md-12">
        <hr />
        <div id="loading" class="alert alert-warning">Loading data... Please wait...</div>
    </div>
    <div class="col-md-12">
        <ul class="list-group" id="list"></ul>
    </div>
</div>

<script>
    $(function () {
        $("#btnLoad").click(function () {

            $("#list").empty();

            $("#loading").show(300, function () {
                $.get("/Home/GetData", function (response) {
                    $("#list").html(response);

                    $("#loading").hide(300);
                });
            });
    
        });
    });
</script>