
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="txtData" placeholder="Enter new list name..." class="form-control" />
        </div>
        <div class="col-md-4 d-block">
            <button type="button" id="btnSend" class="btn btn-success">Send Data</button>
            <button type="button" id="btnSendLoad" class="btn btn-success">Send&Load Data</button>
            <button type="button" id="btnSendAjax" class="btn btn-success">Send With Ajax</button>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
        <button type="button" id="btnLoad" class="btn btn-success">Load Data</button>
        <button type="button" id="btnLoadAjax" class="btn btn-success">Load With Ajax</button>
    </div>
    <div class="col-md-12">
        <hr />
        <div id="loading" class="alert alert-warning">Loading data... Please wait...</div>
    </div>
    <div class="col-md-12">
        <ul class="list-group" id="list"></ul>
    </div>
</div>

<script>
    $(function () {

        $("#loading").show(300, function () {
            $("#list").load("/Home/GetData", function () {
                $("#loading").hide(300);
            });
        });

        $("#btnLoad").click(function () {

            $("#list").empty();

            $("#loading").show(300, function () {

                $.get("/Home/GetData", function (response) {
                    $("#list").html(response);
                }).fail(function (error) {
                    alert("Hata oluştu: ".error);
                }).always(function () {
                    $("#loading").hide(300);
                });

            });

        });

        $("#btnSend").click(function () {
            $("#list").empty();

            var txtData = $("#txtData").val();

            if (txtData != null) {
                $("#loading").show(300, function () {
                    $.post("/Home/SetData", { listItem: txtData }, function (response) {
                        $("#list").html(response);
                    }).fail(function (error) {
                        alert("Hata oluştu: ".error);
                    }).always(function () {
                        $("#loading").hide(300);
                    });;
                });
            }
        });

        $("#btnSendLoad").click(function () {

            $("#list").empty();

            var txtData = $("#txtData").val();

            $("#loading").show(300, function () {
                $("#list").load("/Home/SetData", { listItem: txtData }, function () {
                    $("#loading").hide(300);
                });
            });
        });


        $("#btnLoadAjax").click(function () {

            $.ajax({
                method: "GET",
                url: "/Home/GetData",
                beforeSend: function () {
                    $("#loading").show(300);
                }
            }).done(function (response) {
                $("#list").html(response);
            }).fail(function (response) {
                alert(response);
            }).always(function () {
                $("#loading").hide(300);
            });

        });

        $("#btnSendAjax").click(function () {

            $("#list").empty();

            var txtData = $("#txtData").val();

            $.ajax({
                method: "POST",
                url: "/Home/SetData",
                data: { listItem: txtData },
                beforeSend: function () {
                    $("#loading").show(300);
                }
            }).done(function (response) {
                $("#list").html(response);
            }).fail(function (response) {
                alert(response);
            }).always(function () {
                $("#loading").hide(300);
            });

        });

    });
</script>